.dropContainer {
  background-color: #0000003a;
  height: 100px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}
