.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-radius: 24px;
  border: 1px solid #197686;
  font-size: 18px;
  padding: 5px;
  font-family: "JejuMyeongjo";
  font-size: 16px;
}
.nav {
  color: #ffffff;
  display: flex;
  gap: 15px;
}
.btn {
  font-size: 16px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  color: #0a0c11;
}
@media screen and (max-width: 350px) {
  .header {
    width: 80%;
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    color: #0a0c11;
  }
  .nav {
    display: none;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    width: 80%;
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    color: #0a0c11;
  }
  .nav {
    display: none;
    padding: 10px;
  }
}
